@model Site01.Models.Palavra
@{
    Layout = "_Layout";
}
@{
    ViewBag.Title = "Palavra - Cadastrar";
}


<form method="post">
    <input type="hidden" name="id" value="@Model.Id " />
    <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" name="nome" value="@Model.Nome" class="form-control" id="nome" placeholder="Digite a palavra">
        @Html.ValidationMessage("nome")
    </div>

    <div class="form-group">
        <label for="nivel">Nível</label>
        <input type="text" name="nivel" value="@Model.Nivel" class="form-control" id="nivel" placeholder="Digite o nível: 1- Fácil, 2 - Médio, 3 - Difícil">
        @Html.ValidationMessage("nivel")
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
